trigger:
- none

pool: 
 name: agent1

stages:
- stage: Terraform_init
  displayName: "Terrafrom init"
  jobs:
  - job: terraforminit
    steps:
    - task: TerraformInstaller@1
      inputs:
       terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)\enviroment\dev'
        backendServiceArm: 'svc'
        backendAzureRmStorageAccountName: 'storage5522'
        backendAzureRmContainerName: 'cont1'
        backendAzureRmKey: 'terraform.tfstate'

