trigger:
- none

pool: 
 name: agent1

stages:
- stage: scan
  displayName: "tflint scan"
  jobs:
  - job: tflint_scan
    continueOnError: true
    steps:
      - task: PowerShell@2
        inputs:
          targetType: 'inline'
          script: |
            tflint --chdir "$(System.DefaultWorkingDirectory)\enviroment\dev" --recursive --format json | Out-File "$(System.DefaultWorkingDirectory)\tflint.json"
      - task: PublishPipelineArtifact@1
        inputs:
         targetPath: '$(System.DefaultWorkingDirectory)\tflint.json'
         artifact: 'tflintresult'
         publishLocation: 'pipeline'
- stage: Terraform_init
  displayName: "Terrafrom init"
  jobs:
  - job: terraforminit
    steps:
    - task: TerraformInstaller@1
      inputs:
       terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)\enviroment\dev'
        backendServiceArm: 'svc'
        backendAzureRmStorageAccountName: 'storage5522'
        backendAzureRmContainerName: 'cont1'
        backendAzureRmKey: 'terraform.tfstate'

